.instructions-list {
  overflow-y: scroll;
 padding: 10px 40px;
  
    width: 40%;
    /* border-radius: 8px; */
    border: 1px solid grey;
    
    margin-top: 10px;
}
.instruction {
    margin: 1px; font-family: 'Poppins';
    letter-spacing: 0.5px;
    color: black;
    font-weight: 400; font-size: 17px;
    margin-top: 20px;
}

.instructions-container {

    display: flex;
    justify-content: space-evenly;
    align-content: center;

  padding: 1rem 1rem;
  background-color: white;
    width: 90%; left: 5%;position: relative; height: 71vh;
  border-radius: 8px;
}

.pose-demo-img {
    height: 480px;
    aspect-ratio: 1;
    border-radius: 15px;
}